@import "src/app/shared/styles/form-style";
.butn {
  display: -webkit-box;
  display: flex;
  height: 50vh;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
}
.butn a {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #f6c026;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.butn a.white:hover > p {
  color: #3C4858;
}
.butn a.white > p {
  background: #3C4858;
  color: #3C4858;
}
.butn a.white > p span.base {
  border: 1px solid transparent;
}
.butn a.transparent:hover > p {
  color: #3C4858;
}
.butn a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.butn a.transparent > p {
  background: #3C4858;
  color: #ece8e1;
}
.butn a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
.butn a:after, div a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #3C4858;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.butn a:before {
  right: 0;
  left: initial;
}
.butn a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.butn a p .base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #f6c026;
}
.butn a p .base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #3C4858;
  position: absolute;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}
.butn a p .bg {
  left: -5%;
  position: absolute;
  background: #f6c026;
  width: 0;
  height: 100%;
  z-index: 3;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
.butn a p .text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.butn a p .text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #3C4858;
  position: absolute;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.butn a:hover {
  color: #ece8e1;
}
.butn a:hover span.bg {
  width: 110%;
}
.butn a:hover span.text:after {
  background: #ece8e1;
}
