<div class="panel-lite">
  <div class="butn">
    <a class="transparent" (click)="onRedirect('auth/sign-up/user')">
    <p>
      <span class="bg"></span>
      <span class="base"></span>
      <span class="text">Register as user</span>
    </p>
    </a>
    <a class="transparent" (click)="onRedirect('auth/sign-up/organization')">
      <p>
        <span class="bg"></span>
        <span class="base"></span>
        <span class="text">Register as organization</span>
      </p>
    </a>
  </div>
</div>
