<header>
  <div class="container">
    <div class="logo-box">
      <a href="/">
        <img src="https://i.ibb.co/L1z7n65/logoo3.png">
      </a>
    </div>
    <nav>
      <ul>
        <ng-container *ngIf="isUserLoggedIn && isUserStandard">
          <li><a (click)="onRedirect('')">home</a></li>
          <li><a (click)="onRedirect('main/jobs')">jobs</a></li>
          <li><a (click)="onRedirect('main/profile')">profile</a></li>
          <li><a (click)="onRedirect('main/applications')">Applications</a></li>
        </ng-container>
        <ng-container *ngIf="isUserLoggedIn && !isUserStandard">
          <li><a (click)="onRedirect('')">home</a></li>
          <li><a (click)="onRedirect('organization/jobs')">jobs</a></li>
          <li><a (click)="onRedirect('organization/profile')">profile</a></li>
          <li><a (click)="onRedirect('organization/my-jobs')">My jobs</a></li>
        </ng-container>
        <ng-container *ngIf="!isUserLoggedIn">
          <li><a (click)="onRedirect('auth/sign-up')">Sign up</a></li>
          <li><a (click)="onRedirect('auth/login')">Sign in</a></li>
        </ng-container>
        <li *ngIf="isUserLoggedIn"><a (click)="logout()">Log out</a></li>
      </ul>
    </nav>
  </div>
</header>

