<div class="profile-page">
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img src="https://i.ibb.co/kM3GCXF/profile.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="name">
              <h3 class="title">{{user.displayName}}</h3>
              <h6>{{user.username}}</h6>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="description text-center">
        <p>{{user.email}}</p>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile-tabs">
            <div class="three-inline-buttons">
              <p>
                <a class="btn btn-warning" [routerLink]="['/main', 'profile', 'edit', user.id]">Edit</a>
                <a class="btn btn-warning" href="http://example/">Buy Now</a>
                <a class="btn btn-warning" href="http://example/">Buy Now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
