<div class="profile-page">
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img src="https://i.ibb.co/kM3GCXF/profile.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="name">
              <h3 class="title">{{user.displayName}}</h3>
              <h6>{{user.username}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="description text-center">
        <p>{{user.email}}</p>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile-tabs">
            <div class="butn">
                <a class="transparent" [routerLink]="['/main', 'profile', 'edit', user.id]">
              <p>
                <span class="bg"></span>
                <span class="base"></span>
                <span class="text">Edit</span>
              </p>
              </a>
              <a class="transparent" *ngIf="isUserStandard" (click)="deleteUser()">
                <p>
                  <span class="bg"></span>
                  <span class="base"></span>
                  <span class="text">Delete</span>
                </p>
              </a>
              <a class="transparent" *ngIf="!isUserStandard" (click)="deleteOrganization()">
                <p>
                  <span class="bg"></span>
                  <span class="base"></span>
                  <span class="text">Delete O</span>
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
